# Dependencies
node_modules
.pnpm-store

# Production build outputs
dist
dist-ssr
*.local

# Environment variables
.env
.env.production

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
